.pHeader {
    text-align: center;
    color: aliceblue;
   
}
.jumbotron {
    border-radius: 25px;
    background-color: #1246d4;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}
.panel {
    border-radius: 25px;
   
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}
caption, h2 {
    text-align: center;
}
table {
    margin: 0 auto;
}
th, td {
    margin: 1% 1% 0 1%;
    padding: 3% 3% 0 3%;
    width: 1%;
}
hr {
    margin: 1%;
}
